//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    @include boxshadow(none);
  }
}

button {
  @include on-event {
    outline: 0;
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    @include boxshadow(none);
  }
}

//styles for navbar-toggler
.navbar-toggler {
  padding: 10px 0;

  border: 0;
  border-radius: 0;

  .icon-bar {
    display: block;
    height: 1px;
    width: 35px;

    background: $brand-color;

    @include transition(0.5s cubic-bezier(0.65, 0.05, 0.36, 1));

    @include boxshadow(none);

    &+.icon-bar {
      margin-top: 7px;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      &:first-child {
        @include transform(rotate(225deg) translate(-6px, -5px));
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(-225deg) translate(-6px, 6px));
      }
    }
  }

  @include on-event() {
    outline: 0;
  }
}

@include respond-to(md-down) {
  .black-overlay {
    &:before {
      content: '';
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      
      height: 100vh;
      
      background-color: rgba(0,0,0,.3);
    }
  }
}

//remove all margins for default
body * {
  margin: 0;
}

//Custom container max-width
.container-custom {
  max-width: 1483px;
}

.overflow-hide {
  overflow: hidden;
}

body {
  &.lock {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}